root = true

[{.git*,.editorconfig,*.cfg,.coveragerc}]
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 4
indent_style = space

[*.{py,rst,sh}]
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 4
indent_style = space

[*.json]
insert_final_newline = false
trim_trailing_whitespace = true
indent_size = 4
indent_style = tab
