root = true

[{.git*,.editorconfig,*.cfg}]
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 4
indent_style = space

[*.py]
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 4
indent_style = space

[*.json]
insert_final_newline = false
trim_trailing_whitespace = true
indent_size = 4
indent_style = tab
